In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final_formatted.xlsx')
pd3 = pd.read_excel(xls,sheet_name = 3, header =1)

In [3]:
df3 = pd.DataFrame(pd3)

In [4]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [5]:
df3.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [6]:
df3.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [7]:
df3 = df3.sort_values(['customer_id','transaction_date'])

In [8]:
df3

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
9784,9785,72,1,2017-01-05,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.300000,37873.0
13423,13424,2,1,2017-02-21,0.0,Approved,Solex,Standard,medium,medium,71.49,53.620000,38573.0
14485,14486,23,1,2017-03-27,0.0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.880000,33455.0
18969,18970,11,1,2017-03-29,1.0,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.960000,35378.0
3764,3765,38,1,2017-04-06,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.510000,39526.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2462,2463,2,3500,2017-04-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.620000,41245.0
8561,8562,33,3500,2017-08-08,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.180000,33888.0
17468,17469,0,5034,2017-01-03,0.0,Approved,OHM Cycles,Road,medium,medium,742.54,667.400024,33879.0
16700,16701,0,5034,2017-01-27,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.299988,35667.0
8707,8708,0,5034,2017-10-07,0.0,Approved,Solex,Road,medium,medium,416.98,312.735016,42218.0

In [9]:
df3.online_order.value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [10]:
df3.online_order.isnull().sum()

360

In [11]:
df3.online_order = df3.online_order.fillna(method='bfill')

In [12]:
df3.brand.value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [13]:
df3.brand.isnull().sum()

197

In [14]:
df3.brand = df3.brand.fillna(method='ffill')

In [15]:
df3.product_line.value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [16]:
df3.product_line = df3.product_line.fillna(method='bfill')

In [17]:
df3['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [18]:
df3['product_size'] = df3['product_size'].fillna(method='ffill')

In [19]:
pd.options.display.float_format = '{:,.2f}'.format

In [21]:
customerStandardCost = df3.groupby(['customer_id']).mean().round(decimals = 2)

C:\Users\saran\AppData\Local\Temp\ipykernel_11756\3042229572.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  customerStandardCost = df3.groupby(['customer_id']).mean().round(decimals = 2)

In [22]:
customerStandardCost

,transaction_id,product_id,online_order,list_price,standard_cost,product_first_sold_date
customer_id,,,,,,
1,"11,485.64",34.18,0.55,825.86,551.49,"37,314.09"
2,"8,471.67",37.33,0.33,"1,383.02",640.94,"38,775.67"
3,"13,842.62",60.38,0.12,"1,236.03",815.68,"39,350.25"
4,"13,544.50",78.50,0.50,523.86,413.58,"36,008.50"
5,"7,969.67",48.17,0.33,983.87,584.71,"37,361.00"
...,...,...,...,...,...,...
3497,"8,565.00",32.33,0.67,"1,248.02",698.58,"38,680.33"
3498,"9,327.50",72.17,0.83,862.84,338.29,"37,723.67"
3499,"6,871.29",42.71,0.57,"1,096.21",388.32,"38,163.86"
3500,"10,076.00",40.00,0.33,820.40,522.76,"36,432.50"
5034,"14,292.67",0.00,0.00,506.64,416.81,"37,254.67"

In [23]:
df3.standard_cost = df3.standard_cost.fillna(customerStandardCost.standard_cost)

In [24]:
df3.product_first_sold_date =df3.product_first_sold_date.fillna(df3.product_first_sold_date).mean()

In [25]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 9784 to 8707
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             20000 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    20000 non-null  object
 7   product_line             20000 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             20000 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19824 non-null  float64
 12  product_first_sold_date  20000 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.1+ MB

In [26]:
df3.to_csv('./Transactions.csv',index = False)